# Python
__pycache__/
*.pyc
.venv/
venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Lambda packaging
*.zip

# Secrets / env
.env
.env.*
secrets.json

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Local data outputs if you don't want them versioned
# data/spotify_liked_songs.json
# data/spotify_liked_songs_athena.csv